* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mate', serif;
}

#header {
    background-image: url(img/Header.jpg);
    background-size: cover;
    background-position: center center;
    height: 778px;
    width: 100%;
}

#header .logo {
    margin-top: 40px;
}
#header .menu {
    height: 70px;
}

#header .menu ul {
    float: right;
    margin-top: 90px;
}

#header .menu ul li {
    display: inline;
}

#header .menu ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    transition: .5s;
    padding: 5px 15px;
    font-size: 26px;
}

#header .menu ul li a:hover {
    background: white;
    color: black;
    text-decoration-style: solid;
}

#header h1 {
    font-size: 90px;
    margin-top: 145px;
    color: white;
    text-align: center;
}

#header p {
    color: white;
    font-size: 28px;
    margin-top: 150px;
    font-weight: 500;
}

#about_me {
    margin-top: 70px;
    margin-bottom: 90px;
}

#about_me h1 {
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 30px;
}

#about_me ul {}

#about_me ul li {
    display: inline;
}

#about_me ul li a {
    display: inline-block;
    font-size: 40px;
    padding: 20px;
}

#about_me .btn {
    padding: 22px 0px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    border: 2px solid black;
    margin-bottom: 65px;
    margin-top: 30px;
}

#skills {
    background-image: url(img/myskill.jpg);
    background-size: cover;
    background-position: center center;
    height: 800px;
    width: 100%;
}

#skills h1 {
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

#skills .text {
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 0px 50px;
}

#skills .circle {
    height: 200px;
    width: 200px;
    border: 4px solid #F68E56;
    border-radius: 50%;
    margin: 100px 0px 50px 28px;
}

#skills h3 {
    margin: 0px;
    line-height: 200px;
    text-align: center;
    color: white;
}

#skills p {
    color: white;
    text-align: center;
    font-size: 20px;
}

#services {
    text-align: center;
}

#services h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 40px;
}

#services .text {
    text-align: center;
    padding: 0px 90px;
}

#services h4 {
    font-size: 24px;
    font-weight: 600;
}

#services p {
    font-size: 18px;
    font-weight: 500;
}

#services i {
    color: #F68E56;
    height: 125px;
    width: 125px;
    line-height: 125px;
    text-align: center;
    font-size: 60px;
}

#services .circle {
    height: 125px;
    width: 125px;
    border: 2px solid #F68E56;
    border-radius: 50%;
    align-content: center;
    margin: 80px 0px 50px 118px;
}

#services .btn {
    background: #F68E56;
    color: white;
}

#portfolio {
    margin-top: 110px;
    background-image: url(img/portfolio.jpg);
    background-size: cover;
    background-position: center center;
    height: 1200px;
    width: 100%;
    margin-bottom: 100px;
}

#portfolio h1 {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}

#portfolio p {
    font-size: 24px;
    text-align: center;
    color: white;
    padding: 0px 50px;
    margin-bottom: 100px;
}

#portfolio .demos {}

#portfolio .demos ul {
    margin-left: 120px;
    margin-bottom: 50px;
}

#portfolio .demos ul li {
    display: inline;
    padding: 10px;
}

#portfolio .demos ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    transition: .5s;
    padding: 5px 15px;
    font-size: 26px;
    opacity: 0.5;
}

#portfolio .demos ul li a:hover {
    opacity: 1;
}

#portfolio img {
    padding: 10px;
}

#blog {
    margin-top: 50px;
}

#blog h1 {
    margin-top: 0px;
    margin-bottom: 90px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#blog h2 {
    font-size: 28px;
    color: black;
    margin: 20px 0px 15px 0px;
}

#blog p {
    font-size: 16px;
    color: black;
    margin: 0px 0px 25px 0px;
    text-align: left;
    padding: 0px;
}

#blog .n {
    display: inline;
}

#blog a {
    color: #F68E56;
}

#blog .col-md-6 .btn {
    color: #fff;
    background: #F68E56;
    width: 100%;
    font-size: 22px;
    padding: 10px 0px;
}

#blog .col-md-12 .btn {
    padding: 22px 0px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: #F68E56;
    border: 2px solid #F68E56;
    margin-top: 40px;
}

#contact {
    margin-top: 110px;
    background-image: url(img/contact.jpg);
    background-size: cover;
    background-position: center center;
    height: 801px;
    width: 100%;
    color: white;
}

#contact h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 50px;
}

#contact h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

#contact p {
    text-align: left;
    font-size: 30px;
    margin-bottom: 75px;
}

#contact .circle {
    margin-left: 120px;
    height: 65px;
    width: 65px;
    border: 2px solid #FFF;
    border-radius: 50%;
}

#contact i {
    text-align: right;
    color: #FFF;
    height: 65px;
    width: 100%;
    line-height: 65px;
    text-align: center;
    font-size: 40px;
}

#contact h5 {
    font-size: 25px;
}

#contact form input {
    margin: 10px 0px;
    padding: 25px 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
}

#contact form textarea {
    margin: 25px 0px 40px 0px;
    padding: 25px 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
}

#contact input[type="button"] {
    display: block;
    margin: auto;
    height: 50px;
    line-height: 10px;
}

#map {
    background-image: url(img/map.jpg);
    background-size: cover;
    background-position: center center;
    height: 474px;
    width: 100%;
}

#footer {
    background: #F68E56;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}